.card {
    background: rgb(124, 124, 124);
    font-weight: bold;
    text-align: center;
    border: solid 1px rgb(124, 124, 124);
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:hover {
    border: solid 1px rgb(252, 2, 2)
}

.tipos {
    display: flex;
    flex-wrap: wrap;
}

.tipo {
    font-size: 12px;
    background: rgb(117, 101, 101);
    width: calc(50% - 14px);
    height: 50%;
    margin: 4px;
    padding: 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
