.contenedorhome {
  height: calc(100% - 50px);
  min-height: 210px;
  display: flex;
}

.contenedormenu {
  overflow-y: scroll;
  background: rgb(201, 201, 201);
  width: 170px;
  height: 100%;
  min-height: 210px;
}

.contenedorboton {
  display: none;
  width: 50px;
  background: rgb(201, 201, 201);
}

.clasecheck {
  display: none;
}

.contenedorcards {
  overflow-y: scroll;
  width: calc(100% - 170px);
  height: 100%;
  min-height: 210px;
}

.contenedorpaginas {
  background: rgb(201, 201, 201);
  width: 100%;
  height: 50px;
  text-align: center;
}

.paginas {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  height: 100%;
}

.paginas button {
  margin: auto auto;
}

.paginas div {
  margin: auto 0 0;
}

.paginas button span {
  text-indent: 0;
  width: 100%;
}

.col {
  float: left;
  width: calc(16.66% - 10px);
  margin: 5px;
}

@media screen and (max-width: 1350px) {
  .col {
    width: calc(20% - 10px);
    display: block;
  }
}

@media screen and (max-width: 1150px) {
  .col {
    width: calc(25% - 10px);
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .col {
    width: calc(33.33% - 10px);
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .col {
    width: calc(50% - 10px);
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .col {
    width: calc(100% - 10px);
    display: block;
  }
}

@media screen and (max-width: 470px) {

  .contenedorcards {
    /* width: calc(100% - 170px); */
    width: 100%;
  }

  .contenedorhome {
    position: relative;
  }

  .contenedorboton {
    display: block;
  }

  .contenedormenu {
    position: absolute;
    display: none;
    left: 0px;
  }
  
  #check:checked ~ .contenedormenu{
    z-index: 1;
    display: block;
    left: 42px;
  }

}
