.contenedor {
    background: #DC0A2D;
    /* margin: 10px; */
    margin: 10px auto;
    height: calc(100% - 20px);
    min-width: 240px;
    min-height: 622px;
    max-width: 1400px;
    box-shadow: 0 0 20px #0007, 1px 0 20px 6px #0008 inset;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.header {
    /* position: relative; */
    display: flex;
    width: 100%;
}

.logo {
    /* position: absolute;
    right: 90%; */
    margin: 6px 0 0 15px;
}

.bordecirculo {
    background: white;
    margin: 10px 0 10px 10px;
    width: 80px;
    height: 80px;
    min-width: 80px;
    border: solid 1px rgb(59, 59, 59);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circulo {
    position: relative;
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    background: rgb(84, 189, 255);
    box-shadow: 0 0 6px #0007, -4px 0 12px 9px #0008 inset;
    border: solid 1px rgb(59, 59, 59);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.primeraheader {
    display: flex;
    height: 102px;
    width: 55%;
    border-bottom: rgba(53, 40, 40, 0.481) solid 18px;
    border-bottom-right-radius: 40px;
    border-right-width: 3px;
}

.segundaheader {
    margin-top: auto;
    border-top: rgba(53, 40, 40, 0.481) solid 18px;
    border-top-left-radius: 35px;
    height: 50px;
    width: 45%;
}

.circulito {
    position: relative;
    border: solid 1px rgb(59, 59, 59);
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 10px 5px 5px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.colorred {
    background: rgb(252, 83, 83);
    box-shadow: 0 0 6px #0007, -2px 0 4px 4px #0008 inset;
    position: relative;
    border: solid 1px rgb(59, 59, 59);
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 10px 5px 5px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.coloramarillo {
    background: rgba(255, 239, 95);
    box-shadow: 0 0 6px #0007, -2px 0 4px 4px #0008 inset;
    position: relative;
    border: solid 1px rgb(59, 59, 59);
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 10px 5px 5px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.colorverde {
    background: rgb(94, 195, 107);
    box-shadow: 0 0 6px #0007, -2px 0 4px 4px #0008 inset;
    position: relative;
    border: solid 1px rgb(59, 59, 59);
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 10px 5px 5px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pantallamensajes {
    display: flex;
    justify-content: center;

    margin: 15px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 218, 4);
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    background: rgba(53, 40, 40);
    border: rgba(53, 40, 40, 0.481) solid 4px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pantallamensajes div {
    text-align: center;
    margin: 0 auto;
}

.contenedorhijo {
    margin: 10px;
    border: rgba(53, 40, 40, 0.481) solid 4px;
    height: calc(100% - 220px);
    min-height: 364px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pantallaborde {
    border: rgba(53, 40, 40, 0.481) solid 1px;
    background: rgb(201, 201, 201);
    margin: 5px;
    height: calc(100% - 120px);
    min-height: 244px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pantalla {
    background: rgba(35, 35, 35);
    height: calc(100% - 30px);
    min-height: 210px;
    margin: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pie {
    /* display: flex; */
    height: 93px;
    margin: 10px;
}

.contboton {
    float: left;
    margin: 0 10px 0 0;
}

.contbotonoff {
    float: right;
    margin: 0 0 0 auto;
}

.redes {
    float: left;
    width: 100%;
}

.redes img {
    margin: 10px 20px 0 0;
    cursor: pointer;
}

@media screen and (max-width: 1420px) {
    .contenedor {
        margin: 10px;
    }
}
