.contenedor {
    background: #DC0A2D;
    margin: 10px;
    height: calc(100% - 20px);
    box-shadow: 0 0 20px #0007, 1px 0 20px 6px #0008 inset;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.header {
    position: absolute;
    border-bottom: black solid 5px;
    /* box-shadow: 0 0 20px #0007, 1px 0 20px 6px #0008 inset; */
}

.bordecirculo {
    position: relative;
    background: white;
    width: 120px;
    height: 120px;
}

.circulo {
    position: relative;
    background: rgb(84,189,255);
    box-shadow: 0 0 5px #0007, 5px 0 20px 6px #0008 inset;
    border: solid 1px black;
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

h1 {
    margin: 0;
}